In [91]:
import pandas as pd
import json
from os import path
import datetime

In [92]:
json_files = dict()
col = []
t_id = []
for i in range(9):
    with open('%d.json' % i, 'r') as file:
        json_file = json.load(fp = file)
        json_files.update(json_file)

for key in json_files.keys():
    list_value = json_files[key]
    if list_value:
        for value in list_value:
            if value['tweet_id'] not in t_id:
                row = [str(value['target_id']), value['referenced'], value['tweet_id'], value['created_at']]
                t_id.append(value['tweet_id'])
                col.append(row)
    else:
        row = [str(key), 'None', 'None', 'None']
        col.append(row)
len(col)

79985

In [93]:
for i in range(14):
        with open("%d.txt" % i, "r") as file:
            print("%d.txt" % i)
            lines = file.readlines()
            for line in lines:
                if "=" not in line:
                    s = line.split(" ")
                    if  "\n" in s:
                        s.remove("\n")
                    if s[1] == 'None\n':
                        s[1].replace('\n', '')
                        row = [s[0], 'None', 'None', 'None']
                        col.append(row)
                    else:
                        if s[2] not in t_id:
                            row = [s[0], s[1], s[2], s[3]+" "+s[4]]
                            col.append(row)
len(col)

0.txt
1.txt
2.txt
3.txt
4.txt
5.txt
6.txt
7.txt
8.txt
9.txt
10.txt
11.txt
12.txt
13.txt

165240

In [94]:
df = pd.DataFrame(col, columns=['id', 'referenced', 'tweet_id', 'created_at'])
df
df.to_excel('User_Tweets.xlsx', index=False)

In [95]:
df

,id,referenced,tweet_id,created_at
0,770312,1590492352761966592,1590627664267972610,2022-11-10 08:49:22+00:00
1,770312,1590064108665245707,1590288794896723968,2022-11-09 10:22:49+00:00
2,770312,1589954713029857282,1589960088122716170,2022-11-08 12:36:39+00:00
3,770312,1589641323077898241,1589951806914072577,2022-11-08 12:03:45+00:00
4,770312,1589724373258321921,1589912174600019968,2022-11-08 09:26:16+00:00
...,...,...,...,...
165235,1567217557794426882,1589699137913905153,1589766574269140993,2022-11-07 23:47:42+00:00
165236,1567217557794426882,1589747022944501761,1589762849974669313,2022-11-07 23:32:54+00:00
165237,1567217557794426882,1589377088162865157,1589421200807432193,2022-11-07 00:55:18+00:00
165238,1567217557794426882,1589407281187274752,1589411665812291588,2022-11-07 00:17:25+00:00
165239,1567217557794426882,1589369533072015361,1589399302782144513,2022-11-06 23:28:18+00:00

In [96]:
data_g = pd.read_excel('dataG.xlsx')
data_g['id'] = data_g['id'].astype('str')
data_g

,id,created_at,text,retweeted,retweet_count,favorite_count
0,1590492352761966592,Wed Nov 09 23:51:41 +0000 2022,We lost fewer seats in the House of Representa...,False,17651,154597
1,1590488690920488960,Wed Nov 09 23:37:08 +0000 2022,"Together, our Administration and Congressional...",False,2316,11435
2,1590453136908435456,Wed Nov 09 21:15:51 +0000 2022,Tune in as I deliver remarks on the latest ele...,False,1484,6160
3,1590435289910181889,Wed Nov 09 20:04:56 +0000 2022,Commander and I burnt the midnight oil last ni...,False,8332,58869
4,1590391075276849153,Wed Nov 09 17:09:15 +0000 2022,Democracy doesnâ€™t happen by accident. We have ...,False,12083,72240
...,...,...,...,...,...,...
66,1588138843827478528,Thu Nov 03 11:59:41 +0000 2022,"Last month, I launched the application for our...",False,3595,19753
67,1588003133766213632,Thu Nov 03 03:00:25 +0000 2022,Head to https://t.co/jlrmakxHWm to make a plan...,False,467,2496
68,1588002936684150786,Thu Nov 03 02:59:38 +0000 2022,The Set Up Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â The Shot ht...,False,1561,18689
69,1587987931389640706,Thu Nov 03 02:00:00 +0000 2022,If oil companies were investing their profits ...,False,7453,28823
70,1587980405558345729,Thu Nov 03 01:30:06 +0000 2022,"For most of the 20th century, America led the ...",False,1479,6379

In [97]:
# start turn created_at column into time format
#data_g['created_at'] = pd.to_datetime(data_g['created_at'], format='%a %b %d %H:%M:%S +0000 %Y')
df_copy = df[df['created_at'] != 'None']
#df_copy['created_at'] = pd.to_datetime(df_copy['created_at'], format='%Y-%m-%d %H:%M:%S+00:00')

In [98]:
df

,id,referenced,tweet_id,created_at
0,770312,1590492352761966592,1590627664267972610,2022-11-10 08:49:22+00:00
1,770312,1590064108665245707,1590288794896723968,2022-11-09 10:22:49+00:00
2,770312,1589954713029857282,1589960088122716170,2022-11-08 12:36:39+00:00
3,770312,1589641323077898241,1589951806914072577,2022-11-08 12:03:45+00:00
4,770312,1589724373258321921,1589912174600019968,2022-11-08 09:26:16+00:00
...,...,...,...,...
165235,1567217557794426882,1589699137913905153,1589766574269140993,2022-11-07 23:47:42+00:00
165236,1567217557794426882,1589747022944501761,1589762849974669313,2022-11-07 23:32:54+00:00
165237,1567217557794426882,1589377088162865157,1589421200807432193,2022-11-07 00:55:18+00:00
165238,1567217557794426882,1589407281187274752,1589411665812291588,2022-11-07 00:17:25+00:00
165239,1567217557794426882,1589369533072015361,1589399302782144513,2022-11-06 23:28:18+00:00

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165240 entries, 0 to 165239
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          165240 non-null  object
 1   referenced  165240 non-null  object
 2   tweet_id    165240 non-null  object
 3   created_at  165240 non-null  object
dtypes: object(4)
memory usage: 5.0+ MB

In [100]:
data_g.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              71 non-null     object
 1   created_at      71 non-null     object
 2   text            71 non-null     object
 3   retweeted       71 non-null     bool
 4   retweet_count   71 non-null     int64
 5   favorite_count  71 non-null     int64
dtypes: bool(1), int64(2), object(3)
memory usage: 3.0+ KB

In [103]:
if True:
    for i in df_copy.index:
        # find user tweet created_at time
        # Convert to datetime
        user_created_at = df_copy.loc[i, 'created_at']
        user_created_at = datetime.datetime.strptime(user_created_at, '%Y-%m-%d %H:%M:%S+00:00')

        # find the created_at time of the referenced Biden Tweet
        # And Convert to datetime
        ref = df_copy.loc[i, 'referenced']
        dataG_time = data_g.loc[data_g['id'] == str(ref), 'created_at']
        dataG_time = datetime.datetime.strptime(dataG_time.values[0], '%a %b %d %H:%M:%S +0000 %Y') 
        delta = user_created_at - dataG_time
        #print(i," : ", user_created_at, " | ",  dataG_time, " | ", delta, ' -> ', delta.total_seconds()/3600)
        df.loc[i, 'time_delta'] = int(delta.total_seconds()/3600)

    df.to_excel('user_tweets.xlsx', index=False)

In [104]:
#df.to_excel('user_tweets.xlsx', sheet_name='with_time_delta')
df = pd.read_excel('user_tweets.xlsx')
df

,id,referenced,tweet_id,created_at,time_delta
0,770312,1590492352761967104.0,1590627664267972610,2022-11-10 08:49:22+00:00,8.0
1,770312,1590064108665245952.0,1590288794896723968,2022-11-09 10:22:49+00:00,14.0
2,770312,1589954713029857024.0,1589960088122716170,2022-11-08 12:36:39+00:00,0.0
3,770312,1589641323077897984.0,1589951806914072577,2022-11-08 12:03:45+00:00,20.0
4,770312,1589724373258321920.0,1589912174600019968,2022-11-08 09:26:16+00:00,12.0
...,...,...,...,...,...
165235,1567217557794426882,1589699137913905153,1589766574269140993,2022-11-07 23:47:42+00:00,4.0
165236,1567217557794426882,1589747022944501761,1589762849974669313,2022-11-07 23:32:54+00:00,1.0
165237,1567217557794426882,1589377088162865157,1589421200807432193,2022-11-07 00:55:18+00:00,2.0
165238,1567217557794426882,1589407281187274752,1589411665812291588,2022-11-07 00:17:25+00:00,0.0
165239,1567217557794426882,1589369533072015361,1589399302782144513,2022-11-06 23:28:18+00:00,1.0

In [ ]:
df[df['referenced'] == 'None']

In [ ]:
len(df.loc[df['referenced'] != 'None', 'id'].unique())

In [ ]:
df.info()

start calculating retweet time distribution.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
time_distribtion = dict.fromkeys(list(data_g['id']))

# init
for key in time_distribtion.keys():
    time_distribtion[key] = np.zeros(74, dtype=int)

for index in df.index:
    delta = df.loc[index, 'time_delta']
    key = df.loc[index, 'referenced']
    if delta != -1 and delta <= 72:
        time_distribtion[str(key)][delta] += 1
    elif delta > 72:
        time_distribtion[str(key)][73] += 1

In [ ]:
tmp = pd.DataFrame.from_dict(time_distribtion)
tmp.transpose().to_excel('RetweetTime_Distribution.xlsx')

In [ ]:
label = [str(i) for i in range(0,73,1)]
label.append('>72hr')

for key in time_distribtion.keys():
    # Draw a bar plot to see
    plt.figure(figsize = (35,8))
    plt.title("Tweet ID : " + key)
    plt.bar(label, time_distribtion[key], color=(0.2, 0.6, 0.6, 0.6))
    plt.grid(True,color='r')
    plt.xlabel("Retweet Time (Hour)")
    plt.ylabel('Retweet Count')
    plt.xticks(rotation='vertical')
    for index, value in enumerate(time_distribtion[key]):
        plt.text(index, value, str(value))
    plt.savefig('time_distri_pics/%s.png' % key)
    plt.show()

In [ ]:
time_distribtion.keys()