In [2]:
import pandas as pd
import json
from os import path
import datetime

In [53]:
# load json files
json_files = dict()
columns = ["target_id", "referenced", "tweet_id", "created_at"]
df = pd.DataFrame(columns=columns)
target_id = []
referenced = []
tweet_id = []
created_at = []

for i in range(9):
    with open('%d.json' % i, 'r') as file:
        json_file = json.load(fp = file)
        json_files.update(json_file)

for key in json_files.keys():
    list_value = json_files[key]
    if list_value:
        for value in list_value:
            target_id.append(str(value['target_id']))
            referenced.append(value['referenced'])
            tweet_id.append(value['tweet_id'])
            created_at.append(value['created_at'])
    else:
        target_id.append(str(key))
        referenced.append('None')
        tweet_id.append('None')
        created_at.append('None')
len(target_id)

79985

In [54]:
# load txt file
if path.exists('user_tweets.xlsx'):
    df = pd.read_excel('user_tweets.xlsx')
else:
    for i in range(14):
        with open("%d.txt" % i, "r") as file:
            print("%d.txt" % i)
            lines = file.readlines()
            for line in lines:
                if "=" not in line:
                    s = line.split(" ")
                    if  "\n" in s:
                        s.remove("\n")
                    if s[1] == 'None\n':
                        s[1].replace('\n', '')
                        target_id.append(s[0])
                        referenced.append('None')
                        tweet_id.append('None')
                        created_at.append('None')
                    else:
                        s[3] = s[3] + " " + s[4]
                        s.remove(s[4])
                        # id, ref, tweet_id, created_at
                        if s[2] not in tweet_id:
                            target_id.append(s[0])
                            referenced.append(s[1])
                            tweet_id.append(s[2])
                            created_at.append(s[3])
    to_df = ({
        "target_id" : target_id,
        "referenced" : referenced,
        "tweet_id" : tweet_id,
        "created_at" : created_at
    })
    df = pd.DataFrame(to_df)
    for column in df.columns:
        df[column] = df[column].astype('str')
    df.reset_index()
    df.to_excel('user_tweets.xlsx')
len(target_id)

79985

In [55]:
df

,target_id,referenced,tweet_id,created_at
0,770312,1590492352761966592,1590627664267972610,2022-11-10 08:49:22+00:00
1,770312,1590064108665245707,1590288794896723968,2022-11-09 10:22:49+00:00
2,770312,1589954713029857282,1589960088122716170,2022-11-08 12:36:39+00:00
3,770312,1589641323077898241,1589951806914072577,2022-11-08 12:03:45+00:00
4,770312,1589724373258321921,1589912174600019968,2022-11-08 09:26:16+00:00
...,...,...,...,...
154581,1567217557794426882,1589699137913905153,1589766574269140993,2022-11-07 23:47:42+00:00
154582,1567217557794426882,1589747022944501761,1589762849974669313,2022-11-07 23:32:54+00:00
154583,1567217557794426882,1589377088162865157,1589421200807432193,2022-11-07 00:55:18+00:00
154584,1567217557794426882,1589407281187274752,1589411665812291588,2022-11-07 00:17:25+00:00
154585,1567217557794426882,1589369533072015361,1589399302782144513,2022-11-06 23:28:18+00:00

In [3]:
data_g = pd.read_excel('dataG.xlsx')
data_g['id'] = data_g['id'].astype('str')
data_g

,id,created_at,text,retweeted,retweet_count,favorite_count
0,1590492352761966592,Wed Nov 09 23:51:41 +0000 2022,We lost fewer seats in the House of Representa...,False,17651,154597
1,1590488690920488960,Wed Nov 09 23:37:08 +0000 2022,"Together, our Administration and Congressional...",False,2316,11435
2,1590453136908435456,Wed Nov 09 21:15:51 +0000 2022,Tune in as I deliver remarks on the latest ele...,False,1484,6160
3,1590435289910181889,Wed Nov 09 20:04:56 +0000 2022,Commander and I burnt the midnight oil last ni...,False,8332,58869
4,1590391075276849153,Wed Nov 09 17:09:15 +0000 2022,Democracy doesnâ€™t happen by accident. We have ...,False,12083,72240
...,...,...,...,...,...,...
66,1588138843827478528,Thu Nov 03 11:59:41 +0000 2022,"Last month, I launched the application for our...",False,3595,19753
67,1588003133766213632,Thu Nov 03 03:00:25 +0000 2022,Head to https://t.co/jlrmakxHWm to make a plan...,False,467,2496
68,1588002936684150786,Thu Nov 03 02:59:38 +0000 2022,The Set Up Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â Â The Shot ht...,False,1561,18689
69,1587987931389640706,Thu Nov 03 02:00:00 +0000 2022,If oil companies were investing their profits ...,False,7453,28823
70,1587980405558345729,Thu Nov 03 01:30:06 +0000 2022,"For most of the 20th century, America led the ...",False,1479,6379

In [57]:
# start turn created_at column into time format
data_g['created_at'] = pd.to_datetime(data_g['created_at'], format='%a %b %d %H:%M:%S +0000 %Y')
df_copy = df[df['created_at'] != 'None']
df_copy['created_at'] = pd.to_datetime(df_copy['created_at'], format='%Y-%m-%d %H:%M:%S+00:00')

c:\Users\BCS110101\anaconda3\envs\DGL\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [60]:
df_copy.head(n=10)

   target_id           referenced             tweet_id          created_at
0     770312  1590492352761966592  1590627664267972610 2022-11-10 08:49:22
1     770312  1590064108665245707  1590288794896723968 2022-11-09 10:22:49
2     770312  1589954713029857282  1589960088122716170 2022-11-08 12:36:39
3     770312  1589641323077898241  1589951806914072577 2022-11-08 12:03:45
4     770312  1589724373258321921  1589912174600019968 2022-11-08 09:26:16
5     770312  1589276733756395524  1589579405940047872 2022-11-07 11:23:57
6     770312  1589369533072015361  1589577712183963653 2022-11-07 11:17:14
7     770312  1588969397460271117  1589221683482988546 2022-11-06 11:42:30
8     770312  1588578067777294342  1588800636979924993 2022-11-05 07:49:25
9     770312  1588535716987936770  1588744116955156480 2022-11-05 04:04:49

In [85]:
ref = df_copy.loc[0, 'referenced']
data_g_time = data_g.loc[data_g['id'] == ref, 'created_at']
datetime.datetime.strptime(data_g_time.values[0], '%a %b %d %H:%M:%S +0000 %Y')

datetime.datetime(2022, 11, 9, 23, 51, 41)

In [ ]:
for i in range(df_copy.shape[0]):
    ref = df_copy.loc[i, 'referenced']
    dataG_time = data_g[data_g['id'] == ref]